@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');
.my-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #f4f4f4;
    
    margin-left: -20px;
}
.vertical-line{
    height: 87px;
    border-left: 1px solid #f7f7f7;
    margin-left: -110px;
}
.my-address{
    margin-left: -90px;
    margin-top: 20px;
}
.my-address-1{
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
    font-weight: 700 ;
    font-size: 18px;
}
.my-address-2{
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}
.search-bar{
    padding-left: 10px;
    width: 500px;
    height: 46px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 12px;
    background: rgb(248, 248, 248);
    color: rgb(130, 130, 130);
    box-shadow: none;
}
.search-bar-main{
    width: 96%;
    color: rgb(130, 130, 130);
    background-color: #f8f8f8;
    border-radius: 12px;
    border: none;
}
.but-1{
    margin-right: -30px;
    margin-top: 6px;
}
.log-button{
    margin-left: -30px;
    width: 70px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(54, 54, 54);
    font-family: 'Poppins', sans-serif;
   border-radius: 10px;
   background-color: #ffffff;
   border: none;
}
.cart-button{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(12, 131, 31);
    border-radius: 8px;
    cursor: pointer;
    height: 52px;
    width: 112px;
    color:white;
    gap:10px;
    border:none;
}
.cards-head{
     overflow-x: scroll;
     margin: auto;
     width: 83%;
     margin-top: 10px;
}
.cards-1{
    
    white-space: nowrap;
    margin-inline: 10px;
}
::-webkit-scrollbar{
    display: none;
    
}
.fruits-section{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fruits-section-1{
    width: 90%;
    margin-left: 50px;
}
.product-card-main{
    margin: 16px;
}
.text-one{
    color: rgb(28, 28, 28);
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 8px;
}
.product-card-main{
    display: flex;
    flex-direction: column;
}

.product-list{
    margin-top: 10px;
    display: flex;
    
    overflow-x:scroll;
    gap:20px;
}
.text-one{
    width: 85%;
}
.product-list{
    width: 85%;
}
.product-card-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.product-card{
    margin-left: 10px;
    border: 1px solid #eeeeee;
    border-radius: 12px;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 12px;
    margin-top: 10px;
    padding:10px;
}
.product-time{
    width:fit-content;
    border-radius: 4px;
    border-width: 0px;
    padding: 0px 4px;
    font-size: 13px;
    font-weight: 500;
    background-color: rgb(248, 248, 248);
}
.rupees{
    margin-left: -10px;
}
.product-card>.img{
    border-radius: 0px;
    width: 140px;
    height: 140px;
    margin-left: 40px;
}
.card-title{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 13px;
    margin-top: -10px;
}
.product-cost{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.mb-2{
    margin-left: 20px;
    cursor: pointer;
    width: 66px;
    border: 1px solid rgb(49, 134, 22);
    height: 31px;
    color: rgb(49, 134, 22);
    font-weight: 600;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(247, 255, 249);
    border-radius: 0.375rem;
    gap: 0.125rem;
}
.row-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.names-1{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
td{
   padding:10px 60px;
   font-size:14px;
   color:#7a7a7a;
}
.categories-1{
   flex:3;
}
.usefull-links{
    flex:2;
}
.see-all{
    text-decoration: none;
    color:green;
}
.mb-2:hover{
    background-color: green;
    color:white;
}
.row-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.footer-last{
   width: 85%;
   margin-bottom: 10px;
   font-size: 14px;
    color: rgb(102, 102, 102);
    font-family: 'Poppins', sans-serif;
}
.made-1{
    margin-bottom: 20px;
}
.download-1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    width: 150px;
    margin-right: -20px;
}
.click-blue{
    width: 100px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    background-color: #213b50;
    color :white;
}

.social-media{
    
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-inline: 5px;
}

.app-content{
    flex:1;
}
.p-content{
    flex:4;
}
.social-content{
    flex:3;
}
.star-1{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
}
@media screen and (max-width:768px){
    .my-nav,.names-1,.star-1{
        flex-direction: column !important;
        margin-inline: 20px;
    }
    .vertical-line,.hero-section>img{
        display: none !important;
    }
    .my-nav>.search-bar{
        width: 300px !important;
    }
    .names-1>div>h4{
        text-align: center;
    }
}